---
layout: default
---

<div class="wrapper">

  {% include long/sidebar.html %}

  <div class="main-wrapper">
    
    {% include long/title.html %}

    {% include long/education.html %}

    {% include long/work.html %}

    {% include long/courses.html %}

    {% include long/programming.html %}

    {% include long/research.html %}

    {% include long/public-speaking.html %}

    {% include long/publications.html %}

    {% include long/schools-conferences.html %}

    {% include long/achievements.html %}
    
  </div>

</div>