{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <div class="section-title"> 
    <img src="{{ site.baseurl }}/assets/images/icons/achievements.svg" alt="icon" class="icon">
    <h2 class="text">Achievements</h2>
  </div>

  <ul>
    <li>Awarded 2nd place in the young researchers competition in Norway organized by Proscientia in 2009.</li>
    <li>Received the Lørup Scholar Stipend for MSc thesis work in 2014.</li>
  </ul>

</section><!--//section-->
{% endif %}
