{% assign achievements = site.data.data.achievements %}
{% if achievements %}
<section class="section summary-section">

  <div class="section-title"> 
    <img src="{{ site.baseurl }}/assets/images/icons/achievements.svg" alt="icon" class="icon">
    <h2 class="text">Achievements</h2>
  </div>

  {% for a in achievements %}
  <div class="listing">
    <img src="{{ site.baseurl }}/assets/images/icons/bullet.svg" class="bullet">
    <div class="content">
      <div class="title">{{ a.item }}</div><div class="time">{{ a.year }}</div>
      <hr>
    </div>
  </div>
  {% endfor %}


</section><!--//section-->
{% endif %}
