{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <div class="section-title"> 
    <img src="{{ site.baseurl }}/assets/images/icons/courses.svg" alt="icon" class="icon">
    <h2 class="text">Highligted Courses</h2>
  </div>

  <ul>
    <li>Computational Physics - NTNU - Trondheim 2012
    TFY 4235 : http://www.ntnu.edu/studies/courses/TFY4235</li>
    
    <li>Classical Transport Theory - NTNU - Trondheim 2012
    TFY 4275 : http://www.ntnu.edu/studies/courses/TFY4275</li>
    
    <li>Procedural and Object-Oriented Programming - NTNU - Trondheim 2012
    TDT 4102: http://www.ntnu.edu/studies/courses/TDT4102</li>
    
    <li>Topics in Physics of Complex System - NBI - Copenhagen 2014</li>
  </ul>

</section><!--//section-->
{% endif %}
