{% assign courses = site.data.data.courses %}
{% if courses %}
<section class="section summary-section">

  <div class="section-title"> 
    <img src="{{ site.baseurl }}/assets/images/icons/courses.svg" alt="icon" class="icon">
    <h2 class="text">Highligted Courses</h2>
  </div>

  {% for c in courses %}
  <div class="listing">
    <img src="{{ site.baseurl }}/assets/images/icons/bullet.svg" class="bullet">
    <div class="content">
      <div class="title">{{ c.name }}</div><div class="time">{{ c.year }}</div>
      <i>{{ c.location }}</i><br>
      {{ c.coursename }} - {% if c.url %}<a href="{{ c.url }}">{{ c.url }}</a><br>{% endif %}
      <hr>
    </div>
  </div>
  {% endfor %}

</section><!--//section-->
{% endif %}
