{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <div class="section-title">
    <img src="{{ site.baseurl }}/assets/images/icons/punchcard.svg" alt="icon" class="icon">
    <h2 class="text">Programming</h2>
  </div>

  <ul>
    
    <li>Lead developer at The Meteorological Institute of Norway : Developed a new API called ODA (Observation Data Access), and its backend. The backend is programmed in golang and uses gRPC. It interfaces with distributed storage backends, cockroachdb and cassandra. Geohashes from google's s2geometry library were used as partition and cluster keys to accelerate geospatial searches.</li>

    <li>Personal projects (a subset can be found on github):
    
    - Processing RAW image files from Huffman coded difference values
    - Rendering the 3D mandelbulb fractal using OpenGL and GLSL (A)
    - Implementing a Neural-Net class in C++ with back propagation (B).
    - Image recognition - Haar Cascade  for detecting LASER points in ROV images.</li>
    
    <li>Kaggle - Use of Python libraries such as Pandas, OpenCV and scikit-learn for machine learning on kaggle problems, decisions trees, k-means.</li>
    
    <li>Data visualization - Helped out a PhD researcher in evolutionary genomics with visualizing and processing data from high throughput sequencing. (C) </li>
    
    <li>Charged particle trajectories - Undergraduate courses in C++ and Matlab. Also used Python to simulate charged particle trajectories in the vicinity of Earths magnetic field.</li>
    
    <li>Monte-Carlo simulations of 2D Ising-model programmed in C++ for Computational Physics course at NTNU. Flipping magnetic spins in a temperature gradient and extrapolating in system size to estimate critical temperature and correlation-length exponent. (D)</li>

  </ul>

    
</section><!--//section-->
{% endif %}
