{% assign programming = site.data.data.programming %}
{% if programming %}
<section class="section">

  <div class="section-title">
    <img src="{{ site.baseurl }}/assets/images/icons/punchcard.svg" alt="icon" class="icon">
    <h2 class="text">Programming Experience</h2>
  </div>

  {% for p in programming %}
  <div class="listing">
    <img src="{{ site.baseurl }}/assets/images/icons/bullet.svg" class="bullet">
    <div class="content">
      <div class="title">{{ p.title }}</div><br>
      {% if p.url %}<a href="{{ p.url }}">{{ p.url }}</a><br>{% endif %}
      {{ p.description }}
      <hr>
    </div>
  </div>
  {% endfor %}
    
</section><!--//section-->
{% endif %}
