{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section">

  <div class="section-title"> 
    <img src="{{ site.baseurl }}/assets/images/icons/publications.svg" alt="icon" class="icon">
    <h2 class="text">Publications / Thesis'</h2>
  </div>

  {% for paper in publications.papers %}
  <div class="listing">
    <img src="{{ site.baseurl }}/assets/images/icons/bullet.svg" class="bullet">
    <div class="content">
      <div class="title">{{ paper.title }}</div><div class="time">{{ paper.year }}</div>
      {% if paper.publisher %}<i>{{ paper.publisher }}</i><br>{% endif %}
      {% if paper.url %}<a href="{{ paper.url }}">{{ paper.url }}</a>{% endif %}
    </div>
    <hr>
  </div>
  {% endfor %}

</section><!--//section-->
{% endif %}