{% assign presenting = site.data.data.presenting %}
{% if presenting %}
<section class="section summary-section">

  <div class="section-title">
    <img src="{{ site.baseurl }}/assets/images/icons/public-speaking.svg" alt="icon" class="icon">
    <h2 class="text">Public Speaking / Presentations</h2>
  </div>

  {% for p in presenting %}
  <div class="listing">
    <img src="{{ site.baseurl }}/assets/images/icons/bullet.svg" class="bullet">
    <div class="content">
      <div class="title">{{ p.item }}</div>
      <hr>
    </div>
  </div>
  {% endfor %}

</section><!--//section-->
{% endif %}
