{% assign research = site.data.data.research %}
{% if research %}
<section class="section">

  <div class="section-title">
    <img src="{{ site.baseurl }}/assets/images/icons/research.svg" alt="icon" class="icon">
    <h2 class="text">Research Experience</h2>
  </div>

  {% for r in research %}
  <div class="listing">
    <img src="{{ site.baseurl }}/assets/images/icons/bullet.svg" class="bullet">
    <div class="content">
      {{ r.item }}
      <hr>
    </div>
  </div>
  {% endfor %}

</section><!--//section-->
{% endif %}
