{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <div class="section-title">
    <img src="{{ site.baseurl }}/assets/images/icons/conferences.svg" alt="icon" class="icon">
    <h2 class="text">PhD Schools / Conferences</h2>
  </div>


  <ul>
    <li>Stockholm, Sweden : Winter School - Nordic Institute for Theoretical Physics (NORDITA)</li>

    <li>Durham, UK : Young Researchers Integrability (GATIS) - Durham University </li> 
    
    <li>Waterloo, Canada : Mathematica Summer School - Perimeter Institute</li>
    
    <li>Florence, Italy : LACES 2014 - Galileo Galilei Institute</li>
    
    <li>Les Houches, France : Integrability from Statistical systems to Gauge Theory</li>
    
    <li>Copenhagen, Denmark : Holography - The Niels Bohr Institute</li>
    
    <li>Vienna, Austria : EGU - General Assembly 2019 : Poster - Next generation data storage system to support big data, IoT and machine learning at the Norwegian Meteorological Institute</li>
  </ul>


</section><!--//section-->
{% endif %}
