{% assign schoolsconfs = site.data.data.schoolsconfs %}
{% if schoolsconfs %}
<section class="section summary-section">

  <div class="section-title">
    <img src="{{ site.baseurl }}/assets/images/icons/conferences.svg" alt="icon" class="icon">
    <h2 class="text">PhD Schools / Conferences</h2>
  </div>
  
  {% for s in schoolsconfs %}
  <div class="listing">
    <img src="{{ site.baseurl }}/assets/images/icons/bullet.svg" class="bullet">
    <div class="content">
      <div class="title">{{ s.name }}</div><div class="time">{{ s.year }}</div>
      {%if s.venue %}<i>{{ s.venue }}</i>{% endif %}{% if s.location %} - <i>{{ s.location }}</i>{% endif %}
      <hr>
    </div>
  </div>
  {% endfor %}

</section><!--//section-->
{% endif %}
