{% assign sidebar = site.data.data.sidebar %}

<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.name %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    <!-- {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %} -->

    {% if sidebar.dob %}
    <h3 class="tagline">{{ sidebar.dob }}</h3><br>
    {% endif %}

    {% if sidebar.nationality %}
    <h3 class="tagline">{{ sidebar.nationality }}</h3>
    {% endif %}

    <!-- {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %} -->

  </div>


  <hr>

  {% include contact.html %}

  <hr>

  {% include skills.html %}

  <hr>

  {% include language.html %}

  <hr>

  {% include interests.html %}


  <hr>

  <div class="profile-container">
    <img class="avatar" src="{{ site.baseurl }}/assets/images/plotly-bw.png" alt="profile picture" />
    <h2>A</h2>
  </div>

  <div class="profile-container">
    <a href="https://www.essoar.org/doi/abs/10.1002/essoar.10500940.1">
      <img class="avatar" src="{{ site.baseurl }}/assets/images/geohash-bw.png" alt="profile picture" />
    </a>
    <h2>B</h2>
  </div>

  <div class="profile-container">
    <a href="https://github.com/isakbm/Mandelbulb">
      <img class="avatar" src="{{ site.baseurl }}/assets/images/mandelbulb-bw.png" alt="profile picture" />
    </a>
    <h2>C</h2>
  </div>

  <div class="profile-container">
    <a href="https://github.com/isakbm/Basic-Neural-Net">
      <img class="avatar" src="{{ site.baseurl }}/assets/images/neural-net-bw.png" alt="profile picture" />
    </a>
    <h2>D</h2>
  </div>
  
  <div class="profile-container">
    <a href="https://github.com/isakbm/Detecting-LASER-Points">
      <img class="avatar" src="{{ site.baseurl }}/assets/images/haar-bw.png" alt="profile picture" />
    </a>
    <h2>E</h2>
  </div>

  <div class="profile-container">
    <img class="avatar" src="{{ site.baseurl }}/assets/images/genomics-bw.png" alt="profile picture" />
    <h2>F</h2>
  </div>

  <div class="profile-container">
    <img class="avatar" src="{{ site.baseurl }}/assets/images/montecarlo-bw.png" alt="profile picture" />
    <h2>G</h2>
  </div>

</div>
