{% assign title = site.data.data.sidebar %}
{% if title %}
<section class="title-section">

  <h2 class="title">
    {{ title.name }}
  </h2>

  <div class="keywords">
    physicist | data scientist | developer
  </div>
  
  <div class="summary">
    I have a background in theoretical particle physics. I'm keen to learn, excited about
    technology, and passionate about solving problems using computers. I am looking
    to apply and expand my skill-set by solving real-world problems.
  </div><!--//summary-->

</section><!--//section-->
{% endif %}
