{% assign title = site.data.data.sidebar %}
{% if title %}
<section class="title-section">

  <h2 class="title">
    {{ title.name }}
  </h2>

  <div class="keywords">
    scientific | analytical | programmer | problem solver | fast learner
  </div><!--//keywords-->
    
  <div class="summary">
    Theoretical particle physicist, aspiring data scientist, love to learn, excited about
    technology and machine learning. Strong mathematical and scientific background.
  </div><!--//summary-->

</section><!--//section-->
{% endif %}
