{% assign title = site.data.data.sidebar %}
{% assign heading = site.data.data.heading %}
{% if title %}
<section class="title-section">

  <h2 class="title">
    {{ title.name }}
  </h2>

  <div class="keywords">
    Data Scientist & Developer
  </div>
  
  <div class="summary">
  {% for line in heading.lines %}
    {{ line.line }} <br>
  {% endfor %}
  </div>

</section>
{% endif %}


<!-- I have a background in theoretical particle physics. I'm keen to learn, excited about
technology, and passionate about solving problems using computers. I am looking
to apply and expand my skill-set by solving real-world problems. -->