{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <div class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    <h2 class="text">Work</h2>
  </div>


  <div class="summary">

    <ul>
      <li><b>Norwegian University of Science and Technology | 2011 - 2012</b><br><br>
      Teaching assistant: Responsible for exercise sessions and grading of
      assignments for ~ 35 students per course. On average 9 hours per week.</li>

      <li><b>Copenhagen University: The Niels Bohr Institute | 2015 - 2017</b><br><br>
      Teaching assistant: Responsible for teaching and assistance, writing lecture
      notes in both string theory and quantum field theory I. On average 30 students,
      9 hours of lecturing / assistance per week.</li>

      <li><b>National Instruments: Stockholm - Sweden | 2017 - 2018</b><br><br>
      Application Engineer. ELP Program. LabVIEW support.</li>

      <li><b>The Norwegian Meteorological Institute: Oslo - Norway | 2018 - 2020</b><br><br>
      Researcher and system developer. Responsible for real-time data processing
      and data handling. Contributor to post-processing/data-assimilation techniques
      for the improvement of local weather forecasts.</li>

      <li><b>SINTEF Energy Research | 2020 - present</b><br><br>
      Focused on short term hydro-power scheduling, working on SHOP - software
      used world wide to optimize hydro-power utility. Working on a research project
      attempting to aid power producers in optimizing bids in the energy market by
      making predictions for the intra-day market.</li>
    </ul>

  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
