---
layout: default
---

<div class="wrapper">

  {% include no-images/sidebar.html %}

  <div class="main-wrapper">
    
    {% include no-images/title.html %}

    {% include no-images/education.html %}

    {% include no-images/work.html %}

    {% include no-images/programming.html %}

    {% include no-images/research.html %}

    {% include no-images/public-speaking.html %}

    {% include no-images/publications.html %}

    {% include no-images/schools-conferences.html %}

    {% include no-images/achievements.html %}
    
  </div>

</div>