/* Coffee variables */
$theme-color: #e3d5b9;
$text-color: #352815;
$text-color-secondary: #352815;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #352815;
$darker-grey: #666;
$smoky-white: #666;
$heart: #fb866a;
