/* Discord variables */
$theme-color: #8dbce2;
$text-color: #36393f;
$text-color-secondary: #36393f;
$text-grey: #97AAC3;
$divider: #e8e8e8;
$lighter-grey: #352815;
$darker-grey: #666;
$smoky-white: #666;
$heart: #fb866a;
