{% assign presenting = site.data.data.presenting %}
{% if presenting %}
<section class="section summary-section">

  <div class="section-title"> 
    <svg class="icon-circle" viewBox="0 0 100 100">
      <use href="{{ site.baseurl }}/assets/images/icons/education.svg#circle"></use>
    </svg>
    <svg class="icon" viewBox="0 0 100 100">
      <use href="{{ site.baseurl }}/assets/images/icons/public-speaking.svg#icon"></use>
    </svg>
  <h2 class="text">Public Speaking / Presentations</h2>
</div>

  {% for p in presenting %}
  <div class="listing">
    <svg class="bullet" viewBox="0 0 100 100">
      <use href="{{ site.baseurl }}/assets/images/icons/bullet.svg#bullet"></use>
    </svg>
    <div class="content">
      <div class="title">{{ p.title }}</div><div class="time">{{ p.year }}</div>
      {% if p.location %}<i>{{ p.location }}<br></i>{% endif %}<br>
      {{ p.description }}
      {% if forloop.index != forloop.length %}<hr>{% endif %}

    </div>
  </div>
  {% endfor %}

</section>
{% endif %}
